<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main class="errorPageContainer">
      <p><%= message %></p>
      <a href="/">Go Back</a>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
